<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">



<bean id="agent" class="org.isol.satish.common.Agent" >
	<property name="vehicle" ref="bike"></property>

</bean>

<bean id="bike" class="org.isol.satish.output.impl.Bike"/>
<bean id="car" class="org.isol.satish.output.impl.Car"/>

</beans>
